# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
dist-ssr/
.vite/

# Env (keep .env.example)
.env
backend/.env
frontend/.env

# Logs
*.log

# Editor/OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
